<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ForYou</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Black.otf</string>
		<string>ProximaNova-BlackIt.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-BoldIt.otf</string>
		<string>ProximaNova-Extrabld.otf</string>
		<string>ProximaNova-ExtrabldIt.otf</string>
		<string>ProximaNova-Light.otf</string>
		<string>ProximaNova-RegularIt.otf</string>
		<string>ProximaNova-LightIt.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-SemiboldIt.otf</string>
		<string>ProximaNova-ThinIt.otf</string>
		<string>ProximaNovaCond-Black.otf</string>
		<string>ProximaNovaCond-BlackIt.otf</string>
		<string>ProximaNovaCond-Bold.otf</string>
		<string>ProximaNovaCond-BoldIt.otf</string>
		<string>ProximaNovaCond-Extrabld.otf</string>
		<string>ProximaNovaCond-ExtrabldIt.otf</string>
		<string>ProximaNovaCond-Light.otf</string>
		<string>ProximaNovaCond-LightIt.otf</string>
		<string>ProximaNovaCond-Regular.otf</string>
		<string>ProximaNovaCond-RegularIt.otf</string>
		<string>ProximaNovaCond-Semibold.otf</string>
		<string>ProximaNovaCond-SemiboldIt.otf</string>
		<string>ProximaNovaCond-Thin.otf</string>
		<string>ProximaNovaCond-ThinIt.otf</string>
		<string>ProximaNovaExCn-Black.otf</string>
		<string>ProximaNovaExCn-BlackIt.otf</string>
		<string>ProximaNovaExCn-Bold.otf</string>
		<string>ProximaNovaExCn-BoldIt.otf</string>
		<string>ProximaNovaExCn-Extrabld.otf</string>
		<string>ProximaNovaExCn-ExtrabldIt.otf</string>
		<string>ProximaNovaExCn-Light.otf</string>
		<string>ProximaNovaExCn-LightIt.otf</string>
		<string>ProximaNovaExCn-Regular.otf</string>
		<string>ProximaNovaExCn-RegularIt.otf</string>
		<string>ProximaNovaExCn-Semibold.otf</string>
		<string>ProximaNovaExCn-SemiboldIt.otf</string>
		<string>ProximaNovaExCn-Thin.otf</string>
		<string>ProximaNovaExCn-ThinIt.otf</string>
		<string>ProximaNovaT-Thin.otf</string>
		<string>ProximaNova-Regular.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
